/***************************************************************
	Title:		Balloon tip - Manual
	Description:	Cascading Style Sheet
	Author:		Tim Molderez
***************************************************************/


body, html {
	background:#ffffff;
	color:#202020;
	font-family:Verdana, Arial;
	font-size:medium;
	margin:0;
	padding:0;
}

ol {
	list-style-type: decimal;
}

li {
	margin: 4px 0 0 0;
}

a {
	color:#1f4e91;
	text-decoration:none;
}

a:hover,active {
	color:#d77d87;
}

img{
	border:0px;
}

p{
	margin: 16px 0 0 0;
	padding:0;
}

#header {
	font-size:x-large;
	margin: 40px 0 50px 25px;
	position:relative;
}

#header #title {
	margin: 0 0 0 14px;
}

#header #title #releaseDate {
	font-size:small;
}

#footer {
	font-size:small;
	color: #808080;
	margin: 50px 0 10px 50px;
	position:relative;
}

.section {
	margin: 30px 0 60px 50px;
}

.section .title {
	font-size:large;
	color: #152159;
	margin:0 0 15px 0;
}

.section .subSection {
	margin: 0 0 40px 20px;
}

.section .subSection .title {
	font-size:large;
	margin:0 0 15px 0;
}

.image {
	margin: 12px 8px 12px 16px;
	font-size: small;
}

.image img {
	margin: 0 0 12px 0;
	border: 1px solid #152159;
}
